<ul class="breadcrumb">
    <li <a href="/home">Studio</a> <span class="divider">/</span></li>
    <li><a href="/apps">Apps</a> <span class="divider">/</span></li>
    <li><a href="/apps/<%= data.inst.guid %>"><%= data.inst.title %></a> <span class="divider">/</span></li>
    <li class="active"><%= tab %></li>
  </ul>
<!-- This is the tab bar along the side -->
<%- partial( "appBar" ) %>

 

<div class="content app <%= tab %>">
  
  
  <%- partial(tab) %>


  <%- partial("footer") %>
</div>