<section class="preview">
  <h2>Preview</h2>
  <div class="previewContainer iPhone" style=" width: 640px; -webkit-transform: scale(0.4); -webkit-transform-origin: 0 0;">
  <iframe src="http://apps.feedhenry.com/box/srv/1.1/wid/apps/studio/<%= data.inst.guid %>/container" frameborder="0"></iframe>
  </div>
</section>

<section class="summary">
  <h2><%= data.inst.title %></h2><br />
  <p><%= data.inst.description %></p>
  <h3>More Info</h3>
  <strong>w3cid:</strong> <%= data.app.w3cid %><br />
  <strong>guid:</strong> <%= data.inst.guid %><br />
  <strong>height:</strong> <%= data.inst.guid %><br />
  <strong>width:</strong> <%= data.inst.guid %><br />
</section>
