<div class="preview" style="float: right; background-image: url(http://i41.tinypic.com/k2elwk.jpg); background-size: 381px; padding: 137px 32px;">
<iframe src="http://apps.feedhenry.com/box/srv/1.1/wid/apps/studio/<%= data.inst.guid %>/container" frameborder="0" style="width: 320px; height: 480px; "></iframe>
</div>
<h2><%= data.inst.title %></h2><br />
desc: <%= data.inst.description %><br />
w3cid: <%= data.app.w3cid %><br />
guid: <%= data.inst.guid %><br />
height: <%= data.inst.guid %><br />
width: <%= data.inst.guid %><br />
